
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myBookingLabel" translate="crossfitApp.booking.home.createOrEditLabel">Create or edit a Booking</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="booking.id" readonly>
        </div>

        <div class="form-group">
            <label translate="crossfitApp.booking.startAt" for="field_startAt">StartAt</label>
            <input type="datetime-local" class="form-control" name="startAt" id="field_startAt"
                    ng-model="booking.startAt" ng-model-options="{timezone: 'UTC'}"
                    required>

            <div ng-show="editForm.startAt.$invalid">
                <p class="help-block"
                    ng-show="editForm.startAt.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.startAt.$error.datetimelocal" translate="entity.validation.datetimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="crossfitApp.booking.endAt" for="field_endAt">EndAt</label>
            <input type="datetime-local" class="form-control" name="endAt" id="field_endAt"
                    ng-model="booking.endAt" ng-model-options="{timezone: 'UTC'}"
                    required>

            <div ng-show="editForm.endAt.$invalid">
                <p class="help-block"
                    ng-show="editForm.endAt.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.endAt.$error.datetimelocal" translate="entity.validation.datetimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="crossfitApp.booking.status" for="field_status">Status</label>
            <select class="form-control" name="status" ng-model="booking.status" id="field_status" required>
                <option value="VALIDATED" translate="crossfitApp.BookingStatus.VALIDATED">VALIDATED</option>
                <option value="ON_WAINTING_LIST" translate="crossfitApp.BookingStatus.ON_WAINTING_LIST">ON_WAINTING_LIST</option>
            </select>

            <div ng-show="editForm.status.$invalid">
                <p class="help-block"
                    ng-show="editForm.status.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="crossfitApp.booking.createdDate" for="field_createdDate">CreatedDate</label>
            <input type="datetime-local" class="form-control" name="createdDate" id="field_createdDate"
                    ng-model="booking.createdDate" ng-model-options="{timezone: 'UTC'}"
                    required>

            <div ng-show="editForm.createdDate.$invalid">
                <p class="help-block"
                    ng-show="editForm.createdDate.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.createdDate.$error.datetimelocal" translate="entity.validation.datetimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="crossfitApp.booking.createdBy" for="field_createdBy">CreatedBy</label>
            <input type="text" class="form-control" name="createdBy" id="field_createdBy"
                    ng-model="booking.createdBy"
                    required>

            <div ng-show="editForm.createdBy.$invalid">
                <p class="help-block"
                    ng-show="editForm.createdBy.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="crossfitApp.booking.box" for="field_box">box</label>
            
            <select class="form-control" id="field_box" name="box" ng-model="booking.box" ng-options="crossFitBox as crossFitBox.name for crossFitBox in crossfitboxs track by crossFitBox.id">
                <option value=""></option>
            </select>
            
        </div>
        <div class="form-group">
            <label translate="crossfitApp.booking.owner" for="field_owner">owner</label>
            
            <select class="form-control" id="field_owner" name="owner" ng-model="booking.owner" ng-options="member as member.id for member in members track by member.id">
                <option value=""></option>
            </select>
            
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
