<div>

    <h2 translate="crossfitApp.subscription.home.title">Subscriptions</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="subscription.new">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="crossfitApp.subscription.home.createLabel">Create a new Subscription</span>
                </button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteSubscriptionConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(subscription.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="crossfitApp.subscription.delete.question" translate-values="{id: '{{subscription.id}}'}">Are you sure you want to delete this Subscription?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="global.field.id">ID</th>
                    <th translate="crossfitApp.subscription.telephonNumber">TelephonNumber</th>
                    <th translate="crossfitApp.subscription.sickNoteEndDate">SickNoteEndDate</th>
                    <th translate="crossfitApp.subscription.subscriptionshipStartDate">SubscriptionshipStartDate</th>
                    <th translate="crossfitApp.subscription.subscriptionshipEndDate">SubscriptionshipEndDate</th>
                    <th translate="crossfitApp.subscription.level">Level</th>
                    <th translate="crossfitApp.subscription.user">user</th>
                    <th translate="crossfitApp.subscription.box">box</th>
                    <th translate="crossfitApp.subscription.sickNote">sickNote</th>
                    <th translate="crossfitApp.subscription.subscriptionshipType">subscriptionshipType</th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="loadPage(page + 1)" infinite-scroll-disabled="links['last'] == page">
                <tr ng-repeat="subscription in subscriptions">
                    <td><a ui-sref="subscription.detail({id:subscription.id})">{{subscription.id}}</a></td>
                    <td>{{subscription.telephonNumber}}</td>
                    <td>{{subscription.sickNoteEndDate}}</td>
                    <td>{{subscription.subscriptionshipStartDate}}</td>
                    <td>{{subscription.subscriptionshipEndDate}}</td>
                    <td>{{subscription.level}}</td>
                    <td>
                        {{subscription.user.email}}
                    </td>
                    <td>
                        <a ui-sref="crossFitBox.detail({id:subscription.box.id})">{{subscription.box.name}}</a>
                    </td>
                    <td>
                        <a ui-sref="fileDocument.detail({id:subscription.sickNote.id})">{{subscription.sickNote.name}}</a>
                    </td>
                    <td>
                        <a ui-sref="subscriptionshipType.detail({id:subscription.subscriptionshipType.id})">{{subscription.subscriptionshipType.name}}</a>
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="subscription.detail({id:subscription.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="subscription.edit({id:subscription.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(subscription.id)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
