
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myCrossFitBoxLabel" translate="crossfitApp.crossFitBox.home.createOrEditLabel">Create or edit a CrossFitBox</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="crossFitBox.id" readonly>
        </div>

        <div class="form-group">
            <label translate="crossfitApp.crossFitBox.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="crossFitBox.name"
                    required>

            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="crossfitApp.crossFitBox.website" for="field_website">Website</label>
            <input type="text" class="form-control" name="website" id="field_website"
                    ng-model="crossFitBox.website"
                    required>

            <div ng-show="editForm.website.$invalid">
                <p class="help-block"
                    ng-show="editForm.website.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="crossfitApp.crossFitBox.adminwebsite" for="field_adminwebsite">Adminwebsite</label>
            <input type="text" class="form-control" name="adminwebsite" id="field_adminwebsite"
                    ng-model="crossFitBox.adminwebsite"
                    required>

            <div ng-show="editForm.adminwebsite.$invalid">
                <p class="help-block"
                    ng-show="editForm.adminwebsite.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="crossfitApp.crossFitBox.bookingwebsite" for="field_bookingwebsite">Bookingwebsite</label>
            <input type="text" class="form-control" name="bookingwebsite" id="field_bookingwebsite"
                    ng-model="crossFitBox.bookingwebsite"
                    required>

            <div ng-show="editForm.bookingwebsite.$invalid">
                <p class="help-block"
                    ng-show="editForm.bookingwebsite.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="crossfitApp.crossFitBox.rootwebsite" for="field_rootwebsite">Rootwebsite</label>
            <input type="text" class="form-control" name="rootwebsite" id="field_rootwebsite"
                    ng-model="crossFitBox.rootwebsite"
                    required>

            <div ng-show="editForm.rootwebsite.$invalid">
                <p class="help-block"
                    ng-show="editForm.rootwebsite.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="crossfitApp.crossFitBox.logo" for="field_logo">logo</label>
            
            <select class="form-control" id="field_logo" name="logo" ng-model="crossFitBox.logo" ng-options="fileDocument as fileDocument.name for fileDocument in filedocuments track by fileDocument.id">
                <option value=""></option>
            </select>
            
        </div>
        <div class="form-group">
            <label translate="crossfitApp.crossFitBox.administrator" for="field_administrator">administrator</label>
            <select class="form-control" id="field_administrator" multiple name="administrator" ng-model="crossFitBox.administrators" ng-options="user as user.lastName for user in users track by user.id"></select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
