
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myClosedDayLabel" translate="crossfitApp.closedDay.home.createOrEditLabel">Create or edit a ClosedDay</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="closedDay.id" readonly>
        </div>

        <div class="form-group">
            <label translate="crossfitApp.closedDay.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="closedDay.name"
                    required>

            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="crossfitApp.closedDay.startAt" for="field_startAt">StartAt</label>
       
       		<datetimepicker ng-model-options="{timezone: 'UTC'}" ng-model="closedDay.startAt" how-weeks="false" minute-step="30" show-meridian="false" date-format="dd/MM/yyyy" readonly-time="false"></datetimepicker>


            <div ng-show="editForm.startAt.$invalid">
                <p class="help-block"
                    ng-show="editForm.startAt.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.startAt.$error.datetimelocal" translate="entity.validation.datetimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="crossfitApp.closedDay.endAt" for="field_endAt">EndAt</label>

            <datetimepicker ng-model-options="{timezone: 'UTC'}" ng-model="closedDay.endAt" show-weeks="false" minute-step="30" show-meridian="false" date-format="dd/MM/yyyy" readonly-time="false"></datetimepicker>

            <div ng-show="editForm.endAt.$invalid">
                <p class="help-block"
                    ng-show="editForm.endAt.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.endAt.$error.datetimelocal" translate="entity.validation.datetimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="crossfitApp.closedDay.box" for="field_box">box</label>
            
            <select class="form-control" id="field_box" name="box" ng-model="closedDay.box" ng-options="crossFitBox as crossFitBox.name for crossFitBox in crossfitboxs track by crossFitBox.id">
                <option value=""></option>
            </select>
            
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
