
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myTimeSlotLabel" translate="crossfitApp.timeSlot.home.createOrEditLabel">Create or edit a TimeSlot</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="timeSlot.id" readonly>
        </div>

        <div class="form-group">
            <label translate="crossfitApp.timeSlot.dayOfWeek" for="field_dayOfWeek">DayOfWeek</label>
            <input type="number" class="form-control" name="dayOfWeek" id="field_dayOfWeek"
                    ng-model="timeSlot.dayOfWeek"
                    required min="1" max="7">

            <div ng-show="editForm.dayOfWeek.$invalid">
                <p class="help-block"
                    ng-show="editForm.dayOfWeek.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.dayOfWeek.$error.min" translate="entity.validation.min" translate-value-min="1">
                    This field should be more than 1.
                </p>
                <p class="help-block"
                    ng-show="editForm.dayOfWeek.$error.max" translate="entity.validation.max" translate-value-max="7">
                    This field cannot be more than 7.
                </p>
                <p class="help-block"
                    ng-show="editForm.dayOfWeek.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="crossfitApp.timeSlot.startTime" for="field_startTime">StartTime</label>
            <input type="text" class="form-control" name="startTime" id="field_startTime"
                    ng-model="timeSlot.startTime">

        </div>
        <div class="form-group">
            <label translate="crossfitApp.timeSlot.endTime" for="field_endTime">EndTime</label>
            <input type="text" class="form-control" name="endTime" id="field_endTime"
                    ng-model="timeSlot.endTime">

        </div>
        <div class="form-group">
            <label translate="crossfitApp.timeSlot.maxAttendees" for="field_maxAttendees">MaxAttendees</label>
            <input type="number" class="form-control" name="maxAttendees" id="field_maxAttendees"
                    ng-model="timeSlot.maxAttendees"
                    min="0">

            <div ng-show="editForm.maxAttendees.$invalid">
                <p class="help-block"
                    ng-show="editForm.maxAttendees.$error.min" translate="entity.validation.min" translate-value-min="0">
                    This field should be more than 0.
                </p>
                <p class="help-block"
                    ng-show="editForm.maxAttendees.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="crossfitApp.timeSlot.requiredLevel" for="field_requiredLevel">RequiredLevel</label>
            <select class="form-control" name="requiredLevel" ng-model="timeSlot.requiredLevel" id="field_requiredLevel" required>
                <option value="FOUNDATION" translate="crossfitApp.Level.FOUNDATION">FOUNDATION</option>
                <option value="NOVICE" translate="crossfitApp.Level.NOVICE">NOVICE</option>
                <option value="MIDDLE" translate="crossfitApp.Level.MIDDLE">MIDDLE</option>
                <option value="SKILLED" translate="crossfitApp.Level.SKILLED">SKILLED</option>
            </select>

            <div ng-show="editForm.requiredLevel.$invalid">
                <p class="help-block"
                    ng-show="editForm.requiredLevel.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="crossfitApp.timeSlot.box" for="field_box">box</label>
            
            <select class="form-control" id="field_box" name="box" ng-model="timeSlot.box" ng-options="crossFitBox as crossFitBox.name for crossFitBox in crossfitboxs track by crossFitBox.id">
                <option value=""></option>
            </select>
            
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
